body{
    margin: 0px;
    height:0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
nav{

    background-color:#f3e9f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 10px 6px rgb(204, 204, 204);
    margin-bottom: 50px;
}
nav img{
    width: 100px;
    height: auto;
 
}
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
h1{
    text-align: center;
}

#contain{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


figure{

border-radius: 10px;
width: 300px;
box-shadow: 3px 6px 6px grey;
}

figure img{
    width: 300px;
    height: 150px;
    object-fit: contain;
}

figure h3{
    color:black;
}

figure p:nth-child(3){
   font-weight: bold;

}
button{
    margin-bottom: 20px;
}



/*page produit*/

#image{
    width: 500px;
    height: 300px;
}
#image img{
    width: 80%;
    height: auto;
}
#contain_produit{
    display: flex;
}

#contain_panier figure {
    width: 50%;
    height: auto;
    display: flex;
}
#form{
width: 100%;
height: auto;
}

form{
    width: 100%;
    height: auto;
}

.form-flex{
width: 80%;
height: auto;
display: flex;  
justify-content: center;
}

label{
    margin: 10px;
}
input{
    margin: 10px;
}

form button {
    text-align: center;
}