body{
    margin: 0px;
    padding: 0px;
    height:0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
nav{

    background-color:#f3e9f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 10px 6px rgb(204, 204, 204);
    margin-bottom: 50px;
}
nav img{
    width: 100px;
    height: auto;
 
}
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.titre{
    width: 100%;
    display: flex;
    justify-content: center;
}
h1{
    
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
 
}


#contain{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


figure{

border-radius: 10px;
width: 300px;
box-shadow: 3px 6px 6px grey;
background-color: #f3e9f1;
}

figure img{
    width: 300px;
    height: 150px;
    object-fit: contain;
}

figure h3{
    color:black;
}

figure p:nth-child(3){
   font-weight: bold;

}
button{
    margin-bottom: 20px;
    border:none;
    border-radius: 4px;
    background-color: #9363b9;
    color:white ;
    padding: 3px;
}
button a{
    color:white ;
    font-size: 16px;
    padding: 3px;
}

button:hover{
    background-color: #6d478d;
}



/*page produit*/

#image{
    width: 500px;
    height: 300px;
}
#image img{
    width: 80%;
    height: auto;
}
#contain_produit{
    display: flex;
    background-color: #f3e9f1;
    padding: 15px;
 
}
#contain_produit img{
 margin-top: 60px;
}

#details button:nth-child(5),#details button:nth-child(4){
    margin: 2px;
    width: 20px;
}


#contain_panier figure {
    width: 85%;
    height: 150px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
#contain_panier img{
    width:100%;
    border-radius: 9px 0px 0px 0px;
    
}
#contain_panier p{
    margin-left: 7px;
}

#contain_panier button{
  margin-left:70%;
  width: 100px;
  height: 40px;

}

#form{
text-align: center;
height: auto;
padding: 20px;
text-align: center;
background-color: #f3e9f1;
}

form{
    width: 80%;
    height: 200px;
    
    margin: auto;
}

#form p:first-child{
   font-size: 23px;
}
form input{
    border-radius: 5px;
    width: 230px;
    height: 30px;
}

.form-flex{
width: 100%;
height: auto;
display: flex;  
justify-content: center;
}

label{
    margin: 10px;
}
input{
    margin: 10px;
}

form button{
    width: 100px;
}

@media screen and (min-width: 0px) and (max-width: 840px){
#form{
    background-color: #f3e9f1;
    height: 720px;
}
.form-flex{
     flex-direction: column;
     align-items: center;
  }
  label{
      display: flex;
      justify-content: flex-start;
  }
h1{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
p{
    font-size: 14px;
}
}